.fashion{
    display: flex;
    margin-left: 29%;
    margin-top: 13px;
}
.men_photo{
    border:3px solid black;
    width: 350px;
    height: 600px;
}
.women_photo{
    border:3px solid black;
    width: 350px ;
    height: 600px ;
    margin-left: 60px;
}
.fashion img{
    width: 100%;
    max-width:348px;
    max-height: 598px;
}
.box-name{
    display: flex;
    margin-left: 23%;
}
.box-name h1{
    margin-left: 200px;
    margin-top: 6px;
}
/*Image hover*/
.men_photo {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    background-color: #fafafa;
}

.men_photo:hover .overlay {
    opacity: 1;
}
.women_photo {
    position: relative;
}
.cover {
    margin-top: 30px;
}
.women_photo:hover .overlay1 {
    opacity: 1;
}
.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    background-color: #fafafa;
}
